[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = US
ST = NY
L = New Dork City
O = Snake Oil Inc.
OU = Kellys nook
CN = np-I-ll-Be-In-Insecure-Mode
[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth

# subjectAltName = @alt_names

# [alt_names]
# IP.1 = 10.0.0.71
# IP.2 = 10.0.0.72
# IP.3 = 10.0.0.73

